---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Carrito de Compras" description="Venta de guitarras, blog de música, carrito de compras, tienda">
	<main class="contenedor">
		<h1 class="heading">Carrito</h1>
	</main>
</Layout>

<style>

</style>
