---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tienda de Guitarras" description="GuitarLA - Nuestra colección de guitarras">
	<main class="contenedor">
		<h1 class="heading">Tienda Virtual</h1>
	</main>
</Layout>

<style>

</style>
