---
import Layout from '../layouts/Layout.astro';
import imagen from '../img/header.jpg'
---

<Layout title="Sobre Nostros" description="Venta de guitarras, blog de música">
	<main class="contenedor">
		<h1 class="heading">Nosotros</h1>

		<div class="contenido">
			<img src={imagen} alt="imagen sobre nosotros" />
	
			<div>
			  <p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto possimus sunt obcaecati molestias eos excepturi, illo asperiores eius atque similique magnam odio modi. At dolores, excepturi itaque alias et repudiandae, Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat aliquid repellat ut veritatis repellendus odit, consequatur quibusdam earum. Velit perspiciatis voluptates corporis eaque magni commodi consequuntur aspernatur ab quas adipisci!.
			  </p>
	
			  <p>
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate corporis perspiciatis pariatur. Ut sint eveniet odit, est eligendi unde velit facilis beatae excepturi delectus ullam minima veniam molestiae, deleniti libero?. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quis quisquam blanditiis libero doloribus? Eos veniam earum, veritatis asperiores repellendus mollitia. Maxime libero tempore provident eligendi, molestiae nobis similique neque.
			  </p>
			</div>
		  </div>
	</main>
</Layout>

<style>
.contenido {
    display: grid;
    gap: 4rem;
}
@media (min-width: 768px) {
    .contenido {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}
</style>
